<%= csrf_meta_tags %>

<% if user_signed_in? %>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <p><%= link_to "Gratification", :root, id: "logo" %></p>
      <nav>
        <ul>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </nav>
    </div>
  </header>

  <p id='provider'>Signed in via <%= current_user.provider %></p>

  <p><%= link_to "Edit profile", edit_user_registration_path%></p>


  <% if flash[:validation] %>
    <div id="error_explanation">
      <p align="center"><%= flash[:validation] %></p>
    </div>
  <% end %>

  <br>

  <div id="post-quotes">
    <%= form_with url: '/create', method: 'post' do | field | %>

      <p id=box align="center"><%= field.text_area :quote%></p>
      <p id="submit" align="center"><%= field.submit "Post Quote", class: "btn btn-primary" %></p>

    <% end %>
  </div>

  <br>

  <% if flash[:post] %>
    <p class="alert alert-success"><%= flash[:post] %></p>
  <% end %>

  <div id="show-quotes">
    <% current_user.says.order(created_at: :desc).each do | quotes | %>
      <span>
        <a href=<%= edit_quote_path(quotes.id) %>>
          <%= quotes.quote %>
        </a>
        <p id="time"> <%= quotes.created_at.to_formatted_s(:long) %></p>
      </span>
    <% end %>
  </div>

<% else %>

  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <nav>
        <a id="logo" href="\" >Graification</a>
      </nav>
    </div>
  </header>

  <h2>Your personal hub to happiness</h2>


<div id="sign-in-box">
  <h4>Sign in options</h4>

  <div id="sign-in">
    <a href="/auth/google_oauth2" data-method='post' rel='nofollow'>
      <div class="google-btn">
        <div class="google-icon-wrapper">
          <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
        </div>
      <p class="btn-text"> Google</p>
    </div>
    </a>
  </div>


  <div id="sign-in">
    <a href="/auth/github" data-method='post' rel='nofollow'>
      <div class="github-btn">
        <div class="github-icon-wrapper">
          <img class="github-icon" src="https://img.icons8.com/material-rounded/96/000000/github.png"/>
        </div>
      <p class="btn-text"> GitHub</p>
    </div>
    </a>
  </div>

  <div id="sign-in">
    <a href="/auth/twitter" data-method='post' rel='nofollow'>
      <div class="twitter-btn">
        <div class="twitter-icon-wrapper">
          <img class="twitter-icon" src="https://img.icons8.com/fluency/48/000000/twitter.png"/>
        </div>
      <p class="btn-text"> Twitter</p>
    </div>
    </a>
  </div>

</div>

  <div id="visitor-count">
    <div class="row">
      <div class="col-md-2.5">
        <div class="alert-info">
          <b><%= @total %> happy <%= 'user'.pluralize(@total) %> already using gratify</b>
        </div>
      </div>
    </div>
  </div>

<% end %>
