<!DOCTYPE html>
<html>
  <head>
    <title>Gratify Me</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class='container'>
      <% if notice.present? %>
        <br>
        <p class="alert alert-success"><%= notice %></p><br>
      <% end %>
      <% if alert.present? %>
        <br>
        <p class="alert alert-danger"><%= alert %></p><br>
      <% end %>
      <% if flash[:headsup] %>
        <br>
        <p class="alert alert-warning"><%= flash[:headsup] %></p><br>
      <% end %>

      <%= yield %>

      <%= render 'devise/shared/footer' %>

    </div>

  </body>
</html>
