<!DOCTYPE html>
<html>
  <head>
    <title>GratifyMe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="home">
      <% if notice.present? %>
        <p class="alert alert-success"><b><%= notice %></b></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert alert-danger"><b><%= alert %></b></p>
      <% end %>
      <% if flash[:headsup] %>
        <p class="alert alert-warning"><b><%= flash[:headsup] %></b></p>
      <% end %>

      <%= yield %>

      <%= render 'devise/shared/footer' %>

    </div>

  </body>
</html>
